package views

import "github.com/johngerving/kubernetes-web-client/pkg/templates"

templ Upload() {
    @templates.Page("Upload", "/upload") {
        <div class="w-full h-full flex justify-center items-center">
            <div id="uppy" class=""></div>

            <script src="/static/js/index.js"></script>
        </div>
    }
}