package views

import "github.com/johngerving/kubernetes-web-client/pkg/templates"

templ Upload() {
    @templates.Page("Upload") {
        <!-- 1. Add CSS to `<head>` -->
        <link href="https://releases.transloadit.com/uppy/v4.13.2/uppy.min.css" rel="stylesheet">

        <!-- 2. Initialize -->
        <div id="uppy"></div>

        <script type="module">
        import { Uppy, Dashboard, Tus } from "https://releases.transloadit.com/uppy/v4.13.2/uppy.min.mjs"
        const uppy = new Uppy({
            onBeforeUpload: (file) => {
                console.log(file);
            }
        })
        uppy.use(Dashboard, { target: '#uppy', inline: true, fileManagerSelectionType: 'both' }).use(Tus, {endpoint: 'http://localhost:8081/files/'})
        </script>
    }
}