package templates

import "github.com/johngerving/kubernetes-web-client/pkg/types"
import "strconv"
import "fmt"


templ FileList(files types.Files) {
    <form>
        for i, file := range files {
            <label for={fmt.Sprintf("file-%v", i)}>
                <input type="checkbox" name="file" value={strconv.Itoa(i)} id={fmt.Sprintf("file-%v", i)} class="peer hidden"/>
                @File(file, i == 0)
            </label>
        }
    </form>
}

templ File(file types.File, displayTopBorder bool) {
    <div class={"w-full h-12 flex justify-between hover:bg-slate-100 peer-checked:bg-sky-200 peer-checked:hover:bg-sky-300/75 transition-all border-slate-300 border-b",
        templ.KV(" border-t", displayTopBorder)
    }>
        <div class="m-3 flex gap-2">
            @FileIcon("h-6 fill-gray-500")
            <p>{file.Name}</p>
        </div>
        <a href="#" class="w-12 h-full hover:[&>*]:fill-blue-500 flex justify-center items-center">
            @GoToIcon("h-6 fill-gray-700 transition-all")
        </a>
    </div>
}