package templates

templ Page(title string, href templ.SafeURL) {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/output.css" type="text/css">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <script src="/static/js/index.js"></script>
        <script src="/static/js/htmx.min.js"></script>
        <script src="/static/js/htmx-ext-preload.js"></script>
        <title>{title}</title>
    </head>
    <body hx-boost="true" hx-ext="preload" class="flex w-screen h-screen">
        @Sidebar(href)
        <main class="w-full h-full">{ children... }</main>
    </body>
    </html>
}