package templates

templ Sidebar() {
    <div class="w-72 p-6 border-r border-slate-300">
        <ul class="flex flex-col gap-2 text-xl">
            <li><a href="/">Home</a></li>
            <li><a href="/upload">Upload</a></li>
        </ul>
    </div>
}